
html {
	/*width: 50px; height: 150px;*/
  background-image: url("../img/vias.jpg");

       
}
body {
	
  background-image: url("../img/vias.jpg");
  
}


#letras{
	background-image: url("../img/sangre1.png");
}

#palabra{
	font-size: 50px
}



